$admin-primary: $dark;
$admin-secondary: darken($dark, 5%);

$admin-link-color: $admin-primary;

$admin-body-bg: #f9f9f9;

$admin-text-color: #4a4a4a;

$admin-header-bg: $dark;

$admin-header-text: #eee;

$admin-sidebar-bg: $dark;
$admin-sidebar-header-bg: $admin-secondary;

$color-lime500: #cddc39;
$color-red700: #d32f2f;
$color-blue700: #1976d2;

$admin-header-height: 50px;

// Sub Header
$admin-subheader-height: 60px;
// LeftNav
$admin-sidebar-width: 240px;

$admin-leftnav-width: $admin-sidebar-width;
$admin-rightnav-width: $admin-sidebar-width;

$admin-primary-sidebar-menu-width: 40px;

$material-easing: unquote('cubic-bezier(0.25, 0.8, 0.25, 1)');

// Shadows
@mixin _shadow_1() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin _shadow_2() {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin _shadow_3() {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin _shadow_4() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin _shadow_5() {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@mixin _shadow_hover() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin dimensions($size) {
  width: $size;
  height: $size;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
