@import 'ui';

:local(.container) {
    color: $dark;
    font-family: 'Raleway';
}

:local(.signuplist) {
    padding: map-get($spacers, 2) 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 1;
    @include _shadow-1();
    transition: box-shadow 0.24s ease;
    will-change: box-shadow;
    &:hover {
        @include _shadow-2();
    }
    @include media-breakpoint-down(md, $grid-breakpoints) {
        width: 100vw;
    }
    .header {
        width: 100%;
        text-align: center;
        color: rgba($color: $dark, $alpha: 0.5);
        font-weight: $font-weight-semibold;
        font-size: 1rem;
        padding: 0 10px;
    }
    .list {
        flex: 1;
        .item {
            display: flex;
            cursor: pointer;
            padding: map-get($spacers, 2);
            font-weight: $font-weight-semibold;
            border-bottom: 1px $light solid;
            align-items: center;
            &:hover,
            &.is-active {
                background-color: $light;
            }
            .info {
                flex: 1;
                margin-left: 5px;
                .status {
                    font-weight: $font-weight-normal;
                }
            }
        }
    }
}

:local(.signupdetails) {
    .ui-card {
        height: 100%;
    }
    .ui-card .ui-card-header {
        background-color: rgba($dark, 0.9);
    }
    .ui-card-header .header-bg {
        background-image: url('/public/img/member-profile/header-bg.jpg');
    }
    .text-box {
        .title {
            font-size: 12px;
        }
        .content {
            border: 1px solid rgba($dark, 0.2);
            padding: 0.5rem;
            border-radius: 3px;
            flex: 1;
            &:empty {
                padding: 1.2rem;
            }
        }
        .content-with-badge {
            display: flex;
            align-items: center;
        }
    }
    .info-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        .card-data {
            flex: 1;
            border: 1px solid rgba($dark, 0.2);
            border-radius: 3px;
            .header {
                padding: map-get($spacers, 1);
                font-weight: $font-weight-bold;
            }
            .body {
                padding: map-get($spacers, 2);
            }
        }
    }

    .badge {
        margin-left: 12px;
        padding: 6px 16px;
        border-radius: 12px;
        font-size: 12px;
        &.badge-light {
            color: rgba($dark, 0.5);
        }
        .fa {
            margin-right: 12px;
        }
    }
}

:local(.signupdetails) .member-profile-card {
    .ui-card-body {
        padding: 30px;
    }
}

:local(.signupdetails) .distribution-profile-card {
    .ui-card-body {
        padding: 30px;
    }
    .edit-bar {
        margin: -30px -30px 0;
        padding: 12px 20px;
        background-color: $light;
        display: flex;
        align-items: center;
        .selected-items-count {
            label {
                margin: 0;
                color: rgba($dark, 0.5);
                font-weight: $font-weight-semibold;
                input {
                    margin-right: 5px;
                }
            }
        }
        .edit-button {
            margin: 0 8px;
            cursor: pointer;
        }
        .lock-button {
            padding: map-get($spacers, 0);
        }
        .status-select-dropdown {
            width: 150px;
            .select-value-field {
                border: 1px solid rgba($dark, 0.5);
                border-radius: 3px;
            }
        }
    }
    .contact-details {
        .header {
            background-color: rgba($warning, 0.4);
            color: $warning;
        }
    }
    .address-details {
        .header {
            background-color: rgba($info, 0.4);
            color: $info;
        }
    }
    .documents {
        .header {
            background-color: rgba($danger, 0.4);
            color: $danger;
        }
    }
    .other-info {
        .header {
            background-color: rgba($success, 0.4);
            color: $success;
        }
    }
}

:local(.signupdetails) .distribution-comment-card {
    .ui-card-body {
        padding: 30px;
    }
    .comment-post-form,
    .comment-section {
        label {
            font-weight: $font-weight-semibold;
            color: rgba($dark, 0.5);
        }
    }
    .comment-section {
        .comment {
            padding: 0.5rem;
            border-top: 1px solid rgba($dark, 0.2);
            margin-top: 0.5rem;
            .title {
                margin-bottom: 0.5rem;
            }
        }
    }
}

:local(.reportviolationdialog) {
    .modal-dialog {
        width: 450px;
        .modal-title {
            padding: 2rem 50px 0;
        }
        .modal-body {
            padding: 2rem 50px;
        }
    }
}
