@import 'ui';

:local(.container) {
    color: #fff;
    .footer-copyright-info {
        font-weight: $font-weight-bold;
    }

    .footer-link {
        text-decoration: none;
        color: inherit;
    }

    .list-inline {
        margin-bottom: 0;
    }
    .list-inline-item {
        position: relative;
        margin-right: 2rem;
        &:first-child::after {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &:after {
            position: absolute;
            left: -1rem;
            width: 1px;
            top: 3px;
            bottom: 3px;
            background-color: #fff;
            content: '';
            z-index: 1;
        }
        &.no-border {
            &:after {
                display: none;
            }
        }
    }
    .trackico-logo {
        width: 50px;
    }
    @include media-breakpoint-down(sm, $grid-breakpoints) {
        .list-inline-item {
            display: block;
            padding-top: map-get($spacers, 1);
            padding-bottom: map-get($spacers, 1);
            margin-right: 0;
            &.social {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
}
