@import 'ui';

$trust-red: rgb(255, 28, 0);
$trust-green: rgb(0, 247, 16);
$trust-yellow: rgb(247, 195, 0);
$trust-grey: rgb(215, 218, 223);

:local(.container) {
    font-family: 'Raleway';
}

:local(.container) .ui-card-body {
    display: flex;
    flex-direction: column;
}

:local(.container) .basic-card-content {
    margin: 0rem 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:local(.container) .trust-percentage {
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: calc(3rem + 2px);
    position: relative;
    z-index: 10;
    margin-top: -40%;
}
:local(.container) .trust-message {
    text-align: center;
    padding: 0 10px;
    position: relative;
    margin-top: -3%;
    z-index: 11;
    color: rgba($dark, 0.5);
    font-size: 1rem;
}

:local(.container) #gauge-container {
    width: 100%;
}

:local(.container) path#value {
    will-change: auto;
    transition: all 0.5s ease-in-out;
}
