@import 'ui';

:local(.container) {
    width: inherit;
    height: 165px;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-radius: 0;

    p {
        margin: 0;
    }

    .dropped-files {
        margin-top: 10px;
        height: 100px;
        overflow: hidden;
        overflow-y: auto;
        border: 1px solid $dark;
        padding: 5px;
        ul {
            padding: 0;
            list-style: none;
        }
    }

    .remove-file {
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
    }
}
