@import 'ui';

:local(.container) {
    position: relative;
    .rsm-geography {
        outline: none;
    }
}

.map-tooltip {
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    @include _shadow-2();
}
