@import 'ui';
$color_1: #fff;
$color_2: $admin-primary;
$background_color_1: #fff;
$background_color_2: rgba(0, 0, 0, 0.12);
$background_color_3: $color-lime500;
$background_color_4: $warning;
$background_color_5: #f2f2f2;

:local(.container) {
    display: inline-block;
}
:local(.label) {
    color: $color_1;
    padding: 13px 8px 12px 8px;
    .label-image {
        width: 24px;
        height: 24px;
    }
    .label-text {
        margin-left: 8px;
    }
}
:local(.item) {
    padding: 10px 12px;
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
    .item-details {
        overflow: hidden;
        margin-left: 5px;
    }
    .item-name {
        font-weight: font_bold;
        font-size: 16px;
    }
    .item-desc {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .item-image {
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        margin-right: 5px;
        margin-top: 5px;
    }
}
:local(.item).has_unread {
    color: $color_2;
}
:local(.miniChatHolder) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2000;
    align-items: flex-end;
    .mini-chat {
        border: 1px rgba(0, 0, 0, 0.12) solid;
        background-color: $background_color_1;
        border-radius: 2px 2px 0 0;
        height: 340px;
        font-size: 12px;
        width: 300px;
        margin-right: 24px;
        .chat-header {
            background-color: $background_color_1;
            border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
            padding: 4px 12px;
            position: relative;
            .ui-button {
                padding: 3px 8px;
                font-size: 12px;
                border-radius: 50%;
                border: none;
                overflow: hidden;
                margin-right: -12px;
                margin-left: 12px;
            }
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 200;
                height: 3px;
                content: '';
                background-color: $background_color_2;
            }
        }
        .chat-header.is-online {
            &:after {
                background-color: $background_color_3;
            }
        }
        .chat-header.is-away {
            &:after {
                background-color: $background_color_4;
            }
        }
        .chat-body {
            background-color: $background_color_5;
            overflow-y: auto;
        }
    }
    .mini-chat.is-minimized {
        height: 38px;
        .chat-body {
            flex: 0;
            flex-grow: 0;
        }
        .ui-chat-footer {
            display: none;
        }
    }
}
