@import 'ui';

$active-tab-color: $admin-active-tab-color;
$inactive-tab-color: $dark;
$completed-tab-color: $success;
$error-tab-color: $danger;

$footer-btn-color: $admin-active-tab-color;

:local(.container) {
  color: inherit;
  .modal-dialog {
    max-width: 550px;
  }
  .modal-content {
    border-radius: 3px;
  }
  .modal-body {
    padding: 30px 0 0;
  }

  .btn {
    height: 50px;
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}

:local(.container) .admin-signup-tabs {
  margin: 0 18px;
  .admin-signup-tab {
    &.is-completed,
    &.has-error {
      opacity: 1;
    }

    &.is-selected {
      color: $active-tab-color;
    }
    &.is-completed {
      color: $completed-tab-color;
    }
    &.has-error {
      color: $error-tab-color;
    }
  }
}

:local(.container) .admin-signup-footer {
  margin: 0 -18px;
  font-size: 18px;
  font-weight: $font-weight-semibold;
  color: #fff;
  .become-donor-check {
    padding: 0 18px;
    height: 48px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-buttons {
    position: relative;
  }
  .btn {
    background-color: $footer-btn-color;
    border: none;
    height: 50px;
    color: #fff;
  }
  .submit-button {
    border-radius: 0;
  }
  .skip-button {
    position: absolute;
    z-index: 1;
    font-weight: $font-weight-bold;
    left: 0;
    top: 0;
    background-color: darken($footer-btn-color, 10%);
    border-radius: 0 24px 24px 0;
  }
}

:local(.container) .signup-section {
  $text-color: rgba($dark, 0.5);
  padding: 30px 65px;
  color: $text-color;
  .ui-textfield-input {
    border-bottom-color: $text-color;
  }
  .ui-textfield-label {
    color: $text-color;
  }

  .section-title {
    font-weight: $font-weight-semibold;
    text-align: center;
  }

  .send-verification-btn {
    border-radius: 0;
    color: #fff;
    height: 50px;
    font-weight: $font-weight-bold;
  }

  .verification-submit-btn {
    height: 60px;
  }
}

:local(.container) .documents-section {
  height: 100%;
  position: relative;
  .image-preview-container {
    width: 128px;
    height: 128px;
    margin: 10px auto;
    background-color: $light;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .file-input-container {
    position: relative;
  }
  .file-input {
    display: none;
  }
  .selected-file-name {
    background-color: $light;
    margin-right: 15px;
    padding: 16px 20px 15px 20px;
  }
  .upload-guidelines {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $light;
    padding: 16px 65px;
  }
  .guideline-dashed {
    position: relative;
    margin-bottom: map-get($spacers, 2);
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 44px;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  .guideline {
    display: flex;
    align-items: center;
    .label {
      width: 100px;
      position: relative;
      &:after {
        position: absolute;
        right: 10px;
        content: ':';
      }
    }
  }
}
