@import 'ui';

:local(.container) {
    position: relative;
    .notification-item {
        display: flex;
        align-items: center;
        height: $admin-notification-bar-height;
        padding: 0 30px;
    }
    a {
        color: $light;
        text-decoration: none;
        i {
            margin-left: 2px;
            font-size: 12px;
        }
        @include media-breakpoint-down(md, $grid-breakpoints) {
            font-size: 12px;
            i {
                font-size: 10px;
            }
        }
    }
}
