@import 'ui';

:local(.container) {
    height: 40px;
    background-color: $info;
    padding: 0 30px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.23);
    a {
        color: $light;
        text-decoration: none;
    }
}