:local(.container) {
	color: inherit;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: flex-end;
	margin: 24px 12px;
}

:local(.container).in-left {
	justify-content: flex-start;
}

:local(.container).in-left .stamp {
	left: 0;
	right: initial;
}

:local(.container).in-left .msg {
	order: 2;
}

:local(.container).in-left .ui-avatar {
	order: 1;
	margin-left: 0;
}

:local(.container) .msg {
	margin-left: 4px;
	background-color: #fff;
	padding: 3px 8px;
	order: 1;
}

:local(.container) .ui-avatar {
	order: 2;
	margin-left: 4px;
}

:local(.container) .stamp {
	font-size: 10px;
	font-weight: 600;
	opacity: 0.6;
	position: absolute;
	bottom: -20px;
	right: 0;
}