@import "ui";

$basic-income-calculator-height: 56px;

:local(.container) {
    color: inherit;
    width: auto;
    height: $basic-income-calculator-height;
    border-radius: ($basic-income-calculator-height/2);
    background-color: #fff;
    color: $dark;

    flex: unset;
    flex-grow: 0;

    transition: all 0.2s ease;
    
    @include _shadow-2();

    .form-inner {
        height: 100%;
    }

    .badge {
        width: 64px;
        height: 32px;
        line-height: 24px;
        font-size: 14px;
        font-weight: $font-weight-bold;
    }

    @include media-breakpoint-down(md, $grid-breakpoints) {
        width: 90vw;
        display: block;
        height: auto;
        .form-inner {
            margin: 0;
            padding: map-get($spacers, 2) 0;
            @include clearfix();
            .form-text {
                margin-top: 0;
            }
            div[class*='col-'] {
                padding-left: 0;
                padding-right: 0;
            }
            .ui-tooltip-dropdown {
                margin-left: map-get($spacers, 2);
            }
            .flex-horizontal {
                justify-content: center;
            }
            .badge {
                margin-left: 0 !important;
                margin-right: map-get($spacers, 2) !important; 
            }
        }
        .form-text {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .ui-tooltip-dropdown {
            display: block;
            float: left;
        }
    }

}

