@import "ui";


:local(.container) {
    color: inherit;
    margin: 50px 0;
    position: relative;

    .progress {
        .progress-bar {
            border-radius: $progress-border-radius;
        }
    }

    .value, 
    .max-value {
        font-size: $font-size-base;
    }

    .value {
        font-weight: $font-weight-bold;
    }

    .max-value {
        position: absolute;
        right: 0;
        margin-right: map-get($spacers, 3);
        align-self: center;
    }

}