@import "ui";

$dialog-title-padding-y: map-get($spacers, 5);
$dialog-title-padding-x: 50px;

:local(.container) {
    &.show {
        display: block;
    }

    .modal-dialog {
        z-index: $zindex-modal;
    }

    .modal-header {
        border-bottom: none;
        padding: 0;
    }
    .modal-body {
        padding: map-get($spacers, 4) $dialog-title-padding-x;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
        margin: 0;
    }

    .modal-title {
        text-align: center;
        width: 100%;
        padding: $dialog-title-padding-y $dialog-title-padding-x 0;
    }

    @include media-breakpoint-up(md, $grid-breakpoints) {
        .modal-dialog {
            max-height: 90vw;
            overflow-y: auto;
        }
    }

    @include media-breakpoint-down(sm, $grid-breakpoints) {
        .modal-dialog {
            padding-left: map-get($spacers, 2)*0.75;
            padding-right: map-get($spacers, 2)*0.75;
            margin: map-get($spacers, 2) auto;
        }
    }
    
}