@import 'ui';

:local(.container) {
    position: relative;
    &.has-error {
        .ui-enhanced-passwordfield-toggle {
            right: map-get($spacers, 2);
        }
    }
    .ui-enhanced-passwordfield-toggle {
        transition: all 0.3s ease;
        position: absolute;
        right: 0;
        top: map-get($spacers, 1);
        cursor: pointer;
    }
    .password-strength {
        .progress {
            height: 5px;
            border-radius: 0;
        }
        .password-strength-info,
        .feedback {
            margin: 5px 0;
        }
        .password-strength-info {
            .strength {
                font-weight: 600;
                font-size: 12px;
                text-transform: capitalize;
            }
        }
    }
}
