doctype html
html
  head
    title= title

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="A socially responsible digital platform that delivers a transparent and open approach to direct charitable financial giving")
    meta(property="og:title" content="Baza Foundation")
    meta(property="og:description" content="A socially responsible digital platform that delivers a transparent and open approach to direct charitable financial giving")
    meta(property="og:image" content="https://beta.baza.foundation/public/img/baza_logo_600x600.png")
    meta(property="og:type" content="website")
    block preload

    block head_styles

    block head_scripts

  body
    block content

    block body_scripts
