@import 'ui';

.home-page {
	.top-parallax-section {
		height: 100vh;
		color: #fff;
	}
	
	.page-section {
		padding-top: map-get($spacers, 5);
		padding-bottom: map-get($spacers, 5);
	}
	
	.hero-subtitle {
		font-weight: $font-weight-normal;
	}
}

.home-page .hero-donate-wrapper {
	height: 96px;
	background-color: $dark;
	user-select: none;
	cursor: pointer;
	transition: all 0.2s ease;

	h3 {
		line-height: 33px;
		margin-bottom: 0;
	}
	p {
		line-height: 22px;
		margin-bottom: 0;
	}

	&:hover {
		background-color: $primary;
		color: $dark;
	}
}

.home-page .features-section {
	.feature-item {
		text-align: center;
		i {
			font-size: 56px;
			margin-bottom: map-get($spacers, 3)
		}
	}
}


.home-page .latest-distribution-section {
	.content-row + .content-row {
		border-top: 1px $dark solid;
	}
	.info-block {
		padding: 40px 15px;
		&:not(:first-child) {
			border-left: 1px $dark solid;
		}
	}
	.info-title,
	.info-subtitle {
		margin-bottom: map-get($spacers, 1);
	}
	.info-title {
		@include _typography-h2();
	}
	.info-subtitle {
		font-weight: $font-weight-bold;
	}

}

.home-page .contact-section {
	.ui-textfield {
		margin-top: map-get($spacers, 3);
	}
}