@import 'ui';

.home-page {
    position: relative;

    .top-parallax-section {
        height: 100vh;
        color: #fff;
    }

    .page-section {
        padding-top: map-get($spacers, 7);
        padding-bottom: map-get($spacers, 7);
    }

    .hero-subtitle {
        font-weight: $font-weight-normal;
    }
    .tooltip {
        z-index: 10;
    }

    .app-header.fixed-top {
        animation: fadeInDown 0.24s;
        @include _shadow-2();
    }

    .app-header.fixed-top + .container {
        margin-top: $header-height;
    }

    .donation-list {
        @include media-breakpoint-down(sm, $grid-breakpoints) {
            .donation-list-inner {
                overflow: hidden;
            }
        }
    }
}

.home-page .hero-donate-wrapper {
    height: 96px;
    background-color: $dark;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;

    h3 {
        line-height: 33px;
        margin-bottom: 0;
    }
    p {
        line-height: 22px;
        margin-bottom: 0;
    }

    &:hover {
        background-color: $primary;
        color: $dark;
    }
}

.home-page .features-section {
    .coinsale-section.page-section {
        padding-top: 0;
        .title.top-title {
            position: relative;
            top: -36px;
            left: 0px;
            text-align: center;
            margin-bottom: -30px;
        }
    }
    .feature-item {
        text-align: center;
    }
    img {
        max-height: 100%;
        height: 100%;
    }
    .feature-icon {
        height: 25vh;
        max-height: 240px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        // margin-bottom: map-get($spacers, 3);
        @include media-breakpoint-down(sm, $grid-breakpoints) {
            height: 35vh;
        }
    }

    .feature-button {
        display: inline-block;
    }
    .feature-title,
    .feature-subtitle {
        font-weight: $font-weight-bold;
    }
    .feature-title {
        font-size: 1rem;
    }
    .feature-subtitle {
        font-size: 14px;
        opacity: 0.5;
    }
}

.home-page .latest-distribution-section {
    .latest-distribution-icon {
        align-items: center;
    }
    .latest-distribution-button {
        box-shadow: none;
        border-radius: 0;

        margin-bottom: map-get($spacers, 2);
        .feature-title {
            font-size: map-get($spacers, 3);
        }
    }
}

.home-page .latest-distribution-section {
    .content-row + .content-row {
        border-top: 1px $dark solid;
    }
    .page-section {
        padding-bottom: 0;
    }
    .info-block {
        padding: 40px 15px;
        &:not(:first-child) {
            border-left: 1px $dark solid;
        }
    }
    .info-title,
    .info-subtitle {
        margin-bottom: map-get($spacers, 1);
    }
    .info-title {
        @include _typography-h2();
    }
    .info-subtitle {
        font-weight: $font-weight-bold;
    }

    @include media-breakpoint-down(sm, $grid-breakpoints) {
        .info-block {
            border-bottom: 1px $dark solid;
            margin-left: map-get($spacers, 2);
            margin-right: map-get($spacers, 2);
            &:not(:first-child) {
                border-left: none;
            }
        }
        .content-row + .content-row {
            border-top: none;
        }
    }
}

.home-page .contact-section {
    .ui-textfield {
        margin-top: map-get($spacers, 3);
    }
    .contact-img {
        transform: scale(0.9);
        transform-origin: center center;
    }
}

.home-page .roadmap-section .page-section {
    // padding-top: map-get($spacers, 2);
    @include media-breakpoint-down(sm, $grid-breakpoints) {
        padding-top: map-get($spacers, 5);
    }
}

// Milestone section
.home-page .milestone-section {
    position: relative;
    // background-image: linear-gradient(180deg, $primary 5%, $body-bg);
    .milestone-stamp {
        position: absolute;
        bottom: 0px;
        right: 0;
        color: rgba($dark, 0.5);
        font-weight: $font-weight-semibold;
        font-size: 1rem;
    }
    // .section-title,
    // .section-subtitle {
    //   color: #fff;
    // }
    .milestone-count {
        height: 48px;
        font-size: 28px;
        font-weight: $font-weight-bold;
        text-align: center;
        padding-top: 1px;
        padding-left: 1px;
        width: 48px;
        background-color: rgba($dark, 0.5);
        border-radius: 48px;
        margin: 0 18px;
        flex-shrink: 0;
        flex-grow: 0;
        &.i-5,
        &.i-7 {
            padding-top: 3px;
            padding-left: 0;
        }
    }
    .milestone-title {
        padding-right: 18px;
        font-weight: $font-weight-bold;
        line-height: 1.2rem;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    .milestone-item {
        display: inline-block;
        position: relative;
        min-height: 70px;
        width: 100%;
    }
    .milestone-inner {
        position: relative;
        border-radius: 8px;
        color: #fff;
        padding: 10px 0;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        z-index: 1;
        // @include _shadow-2();
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
        &:after {
            display: none;
            position: absolute;
            content: '';
            height: 30px;
            top: -30px;
            width: 5px;
            background-color: rgba($dark, 0.2);
        }
        &.is-done:after {
            background-color: $primary;
        }
    }

    .milestone-item-wrapper {
        display: flex;
        justify-content: flex-end;
        width: calc(50% + 40px);
        overflow: visible;
        min-height: 100px;

        &:first-child .milestone-item:after {
            display: none;
        }

        &.in-right {
            margin-left: calc(50% - 40px);
            justify-content: flex-start;
            .milestone-title {
                padding-right: 24px;
            }
            .milestone-stamp {
                right: 4px;
            }
            .milestone-item:after {
                left: 35px;
            }
        }

        &:not(.in-right) {
            .milestone-item:after {
                right: 40px;
            }
            .milestone-count {
                order: 2;
            }
            .milestone-stamp {
                left: 4px;
            }
            .milestone-title {
                order: 1;
                padding-left: 24px;
            }
        }
    }

    .milestone-inner {
        width: 100%;
        overflow: hidden;
        background-color: rgba($dark, 0.2);
    }
    .milestone-progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: 8px 42px 42px 8px;
        z-index: -1;
        background-color: $primary;
        @include fat-gradient();
        background-size: 70px 70px;
        width: 0%;
        transition: width 0.36s linear;
        @include animate-progress-bar(6s);
        &.i-2 {
            transition-delay: 0.4s;
        }
        &.i-3 {
            transition-delay: 0.8s;
        }
        &.i-4 {
            transition-delay: 1.2s;
        }
        &.i-5 {
            transition-delay: 1.6s;
        }
        &.i-6 {
            transition-delay: 2s;
        }
        &.i-7 {
            transition-delay: 2.2s;
        }
    }

    .milestone-grid {
        .milestone-item:after {
            display: none;
        }
        &.will-animate .milestone-item {
            &.is-done .milestone-progress {
                width: 120%;
                background-color: $primary;
            }
            &.is-active .milestone-progress {
                width: 50%;
                background-color: $primary;
            }
        }
    }
}

.home-page .white-paper-section {
    .page-section {
        padding-top: map-get($spacers, 4);
        padding-bottom: map-get($spacers, 6);
    }
    .download-whitepaper-btn {
        text-align: left;
    }
    .section-title-underlined {
        font-size: 2rem;
        &:after {
            height: 3px;
        }
    }
    p {
        font-size: 1.2rem;
        // font-weight: $font-weight-light;
    }
    @include media-breakpoint-down(sm, $grid-breakpoints) {
        .download-whitepaper-btn {
            text-align: center;
        }
        .page-section {
            padding-top: 0;
        }
    }
}

.home-page .map-section {
    min-height: calc(100vw * 0.625);
    max-height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    .page-section {
        max-width: 100vw;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    small {
        color: rgba($dark, 0.4);
        font-weight: $font-weight-bold;
        font-size: 1.2rem;
    }
    @include media-breakpoint-down(sm, $grid-breakpoints) {
        small {
            display: none;
        }
        .page-section {
            padding-top: map-get($spacers, 5);
        }
    }
}

.home-page .news-section {
    .badge {
        padding: 8px 24px;
        border-radius: 17px;
        text-align: center;
    }

    .news-published-date-badge {
        padding: 5px 20px;
        background-color: rgba($color: #273951, $alpha: 0.3);
        color: #fff;
        font-size: 12px;
    }

    .read-more-badge {
        background-color: #fdca02;
        color: $dark;
        cursor: pointer;
    }

    .news-published-date {
        font-weight: $font-weight-semibold;
    }

    .news-content {
        p {
            word-break: break-word;
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 200px;
            margin: 0 auto;
        }
        ul {
            padding: 0;
            margin: 1rem;
        }
        ol {
            padding: 0;
            margin: 1rem;
        }
        .plaintext {
            font-family: 'Raleway', -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
                'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            font-size: 14px;
        }
    }

    .latest-news {
        .news-content {
            overflow-y: hidden;
            height: (72 * 5 + 16 * 4) * 1px;
        }
    }

    .other-news {
        overflow-y: auto;
        height: 533px;
        .news-title {
            margin-bottom: 0;
        }
        .news-content {
            overflow-y: hidden;
            height: 115px;
        }
    }
}

.home-page .exchange-section {
    .exchange-logo {
        width: 200px;
    }
}
