@import 'ui';

$ui-progress-height: 28px;
$ui-progress-border-radius: 14px;

:local(.container) {
  margin: 50px 0;
  height: $ui-progress-height;
  background-color: rgba($dark, 0.08);
  border-radius: $ui-progress-border-radius;
  position: relative;
  overflow: visible;
  font-size: 14px;
  .ui-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 16px;
    height: $ui-progress-height;
    border-radius: $ui-progress-border-radius;
    background-color: $primary;
    @include thin-gradient();
    background-size: 9px $ui-progress-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.24s ease-in-out;
  }
  .ui-progress-active-text {
    color: #fff;
    font-weight: $font-weight-bold;
  }
  .ui-progress-end-text {
    position: absolute;
    right: 16px;
    font-weight: $font-weight-semibold;
    color: rgba($dark, 0.5);
    top: 4px;
  }
  .ui-progress-tooltip {
    position: absolute;
    color: rgba($dark, 0.5);
    font-size: 16px;
    &:after {
      position: absolute;
      font-size: 14px;
      left: 50%;
      margin-left: -7px;
      font-family: 'FontAwesome';
      content: '\f078';
    }
  }
  .current-tooltip {
    top: -50px;
    padding-bottom: 50px;
    &:after {
      bottom: 30px;
      content: '\f078';
    }
  }
  .end-tooltip {
    bottom: -50px;
    right: 0;
    padding-top: 50px;
    &:after {
      top: 30px;
      content: '\f077';
    }
  }
}
