@import 'ui';

:local(.container) {
    flex-shrink: 0;
    background-color: #fff;
    height: $admin-subheader-height;
    border-bottom: 1px $border-color solid;
    padding: 0 30px;
    box-shadow: 0 10px 50px 0 rgba(#000, 0.1);
    position: relative;
    z-index: 500;

    @include media-breakpoint-down(sm, $grid-breakpoints) {
        padding: 0 20px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 0;
        font-weight: $font-weight-bold;
    }
    .bread-link {
        margin-top: -4px;
        margin-right: 6px;
        color: $dark;
    }
    .header-button {
        width: 55px;
        height: 33px;
        color: $dark;
        margin-right: 5px;
        background: none;
        border: 1px solid $dark;
        border-radius: 20px;
        box-shadow: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}
