@import 'ui';

:local(.container) {
  background-color: #fff;
  padding: 12px 30px;
  font-size: 13px;
  position: relative;
  bottom: 0;
  height: $admin-footer-height;
  right: -30px;
  left: -30px;
  transition: left 0.16s ease;
  margin-bottom: -1 * $admin-footer-height;
  width: calc(100% + 60px);
  z-index: 2000;
  // border-top: 1px rgba(#000, 0.12) solid;
  @include media-breakpoint-down(md, $grid-breakpoints) {
    font-size: 12px;
    display: none;
  }

  .badge-pill {
    padding: 5px 8px;
    border-radius: 3px;
    color: #fff;
    margin: 0 4px;
    font-weight: 600;
    text-align: center;
    flex-shrink: 0;
  }

  .pill-red {
    background-color: $color-red700;
  }

  .pill-blue {
    background-color: $color-blue700;
  }

  .pill-beta {
    width: 40px;
  }

  .pill-powered {
    width: 118px;
  }
}
