@import 'ui';

$font-size-nav-link: 12px !default;
$header-height: 80px !default;

$menu-icon-stroke: 2px;
$menu-icon-color: #fff;
$menu-icon-inter-spacing: -10px;

.app-header {
  color: #fff;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  position: relative;

  &.fixed-top {
    position: fixed;
  }

  .nav-link {
    color: #fff;
    font-size: $font-size-nav-link;
    margin: 0 map-get($spacers, 2);
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: 1.5px;
    &:hover {
      color: $primary;
    }
  }

  .center-icon {
    font-size: 32px;
    .nav-link {
      padding: 0px;
      width: 48px;
      height: 48px;
    }
  }

  .donate-button {
    position: absolute;
    top: 20px;
    right: map-get($spacers, 2);
    border-width: 3px;
    color: $light;
    border-color: $light;
    will-change: top, margin, position;
    transition: all 0.24s ease;
    &:hover {
      color: $dark;
      border-color: $primary;
    }
  }

  .menu-icon {
    width: 48px;
    height: $menu-icon-stroke;
    color: $menu-icon-color;
    background-color: currentColor;
    display: block;
    position: relative;
    &:after,
    &:before {
      position: absolute;
      height: $menu-icon-stroke;
      background-color: currentColor;
      left: 0;
      right: 0;
      content: '';
    }
    &:before {
      top: $menu-icon-inter-spacing;
      right: 20%;
    }
    &:after {
      bottom: $menu-icon-inter-spacing;
      right: 40%;
    }
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-toggler {
    position: absolute;
    left: map-get($spacers, 2);
    color: inherit;
    outline: none;
    padding-top: 10px;
    font-size: 32px;
    margin-left: -1 * map-get($spacers, 2);
  }

  &.navbar-light.fixed-top {
    .navbar-toggler {
      color: $dark;
      border-color: transparent;
    }

    .menu-icon {
      color: $dark;
    }

    .donate-button {
      border-color: $dark;
      color: $dark;
    }
  }

  @include media-breakpoint-down(sm, $grid-breakpoints) {
    .navbar-collapse {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;
      top: $header-height;
      background-color: $light;
      @include _shadow-2();
      .nav-item {
        width: 100%;
        text-align: center;
        padding: map-get($spacers, 1) map-get($spacers, 1);
      }
    }
    &:not(.navbar-light) {
      .navbar-collapse.show {
        position: absolute;
        z-index: 1030;
        top: $header-height;
        background-color: $light;
        .nav-link {
          color: $dark;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1014px) {
  .app-header .navbar-nav {
    margin-left: -16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-header {
    & > .container {
      margin-left: -16px;
    }
  }
}
@media (max-width: 991px) {
  .app-header .center-icon {
    display: none;
  }
}
