@import 'ui';

$bg-color: #222d32;
$inactive-tab-color: #181f23;
$active-tab-color: $bg-color;
$text-color: #b8c7ce;

:local(.container) {
  color: $text-color;
  background-color: #222d32;

  right: -1* $admin-sidebar-width;
  transition: all 0.16s ease;
  &.is-open {
    right: 0;
  }
  .nav.nav-tabs {
    display: flex;
    align-items: stretch;
    > .nav-item {
      flex: 1;
      text-align: center;
      > .nav-link {
        box-shadow: none;
        outline: none;
        border: none;
        height: 45px;
        padding-top: 13px;
        color: $text-color;
        background-color: $inactive-tab-color;
        &.active {
          background-color: $active-tab-color;
          color: $primary;
        }
      }
    }
  }

  .tab-content,
  .rightnav-tab {
    height: 100%;
  }

  // Temporary
  .rightnav-tab {
    text-align: center;
    padding: 10vh 0;
  }
}
