@import 'ui';

:local(.container) {
    .basic-card-content {
        height: 250px;
        overflow-y: auto;
    }
    .task-item {
        // margin-bottom: map-get($spacers, 2);
        position: relative;
        // &:first-child {
        //     margin-top: map-get($spacers, 2);
        // }
    }
    .task-description {
        margin-right: 100px;
        padding-left: map-get($spacers, 2);
        line-height: 30px;
    }
    .task-status {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 12px;
        // background-color: rgba($dark, 0.1);
        // padding: 3px 6px;
        // border-radius: 12px 0 0 12px;
    }
}

