:local(.container) {
    .btn {
        padding: 5px 15px;
        &:focus {
            box-shadow: none;
        }
    }
    .dropdown-item {
        cursor: pointer;
    }
    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }
}
